body {
    background-color: blue;
    margin: 0;
    padding: 0;
}
.contenedor {
    background-color: white;
    margin: 20px auto;
    padding: 20px;
    width: 80%;
    max-width: 800px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
h1{
    color: red;
    font-size: 2em;
}
img{
    float: left;
    margin-right: 20px;
    width: 150px;
    height: auto;
}
p{
    text-align: justify;
}
